@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body {
  font-family: Poppins;
  margin: 0;
  background-color: #010101;
  color: #eee;
} */
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background-color: black;
  margin: 0;
  color: #eee;
  overflow: auto;

}



/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* css slider */
.slider {
  height: 100vh;
  margin-top: -50px;
  position: relative;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 20%, transparent);
}

.slider .list .item .content {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 500px;
  max-width: 80%;
  z-index: 1;

}

.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider .list .item .content h2 {
  font-size: 80px;
  margin: 0;
}

.slider .list .item .content button {
  font-size: 25px;
  margin: 0;
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
  animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}

.arrows {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}

.arrows button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}

.arrows button:hover {
  background-color: #eee;
  color: black;
}

.thumbnail {
  position: absolute;
  bottom: 0px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 40vh;
  padding: 0 50px;

  box-sizing: border-box;
  overflow: auto;
  justify-content: right;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
}

.thumbnail .item {
  width: 15%;
  height: 36vh;
  filter: brightness(.5);
  transition: .5s;
  flex-shrink: 0;
  padding: 1%;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail .item.active {
  filter: brightness(1.5);
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 30px;
  font-size: 1.5vw;
  
  
}

@media screen and (max-width: 678px) {
  .thumbnail {
    justify-content: start;
  }

  .slider .list .item .content h2 {
    font-size: 60px;
  }

  .arrows {
    top: 10%;
  }
}

/* Variables */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);



/* Styling */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
}

.timeline:before {
  background-color: white;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}

.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a83279;
}

.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
}

#design-section {
  text-align: center;
  /* 文本居中 */
  margin-top: 5%;
}

#design-section h1 {
  color: whitesmoke;
  font-size: 2.5em;
  /* 设置字体大小为60像素 */
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  /* animation: fadeInOut 4s infinite; */

}

.timeline-event-copy.visible {
  opacity: 1;

  background-color: transparent;
  /* 这只是一个示例，你可以选择你想要的玻璃色 */


}


/* @keyframes fadeInOut {  
  0% {opacity: 1;}   
  50% {opacity: 0;}  
  100%{opacity: 1;}
} */
.timeline-event-copy h3 {
  font-size: 1.75em;
  color: #fcfafa;
}

.timeline-event-copy p {
  font-size: 2em;

}

.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
  color: #fcfafa;
}

.timeline-event-copy h6 {
  margin-bottom: 1.2em;
  font-size: 1.0em;
  color: #fcfafa;
}

.timeline-event-copy strong {
  font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;

  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main main  right right'
    'footer main main  right right'
    'header main main right right'
    'header main main right right';

  grid-gap: 10px;
  background-image: url("image/17.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10px;
}

.grid-container>div {


  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: white;
}

.item img {
  transition: transform 0.3s ease;
  position: relative;
  z-index: 0.8;


}

.item img:hover {
  transform: scale(1.3);
  cursor: pointer;
  z-index: 2;
}